<h2>Cin : <%= patient.cin%></h2>
<h2>First Name : <%= patient.first_name%></h2>
<h2>Last Name : <%= patient.last_name%></h2>
<h2>Email : <%= patient.email%></h2>
<h2>Phone Number : <%= patient.phone_number%></h2>
<h2>Address : <%= patient.address%></h2>
<h2>EC First Name : <%= patient.emergencycontact.first_name%></h2>
<h2>EC Last Name : <%= patient.emergencycontact.last_name%></h2>
<h2>EC Phone Number : <%= patient.emergencycontact.phone_number%></h2>
<h2>EC Work Number : <%= patient.emergencycontact.work_number%></h2>
<h2>Active Problems : <%= patient.medhistory.active_problems%></h2>
<h2>Current Medication : <%= patient.medhistory.current_medication%></h2>
<h2>Vaccines List : <%= patient.medhistory.vaccines_list%></h2>
<h2>Allergies : <%= patient.medhistory.allergies%></h2>
<h2>Blood Type : <%= patient.medhistory.blood_type%></h2>
<h2>Surgeries : <%= patient.medhistory.surgeries%></h2>
