<div class="form-row">
    <div class="form-item">
      <label>Patient Cin</label>
      <input type="number" name="patient_cin" value="<%= consultation.patient_cin %>">
    </div>
    <div class="form-item">
      <label>Doctor Cin</label>
      <input type="number" name="doctor_cin" value="<%= consultation.doctor_cin %>">
    </div>
    <div class="form-item">
      <label>Symptoms</label>
      <input type="text" name="symptoms" value="<%= consultation.symptoms %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Overview</label>
      <input type="text" name="overview" value="<%= consultation.overview %>">
    </div>
    <div class="form-item">
      <label>Medication</label>
      <input type="text" name="medication" value="<%= consultation.medication %>">
    </div>
    <div class="form-item">
      <label>notes</label>
      <input type="text" name="notes" value="<%= consultation.notes %>">
    </div>
  </div>
  </div>